<!DOCTYPE html>
{% extends "account/base.html" %}
{% load static %}


{% block body_block %}
<h2>Welcome to the homepage </h2>
<div class="jumbotron">
    <p>Feel free to share and learn from the group of wonderful people in the world </p>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi distinctio sequi dolorum dolore quidem
            nostrum quas esse unde, et deleniti. Quis adipisci ducimus accusantium quisquam, omnis iusto, quo
            necessitatibus quasi laudantium ullam nihil dolores doloremque corrupti praesentium. Vitae inventore est
            perspiciatis non tenetur. Vitae accusamus illo cumque odio tempore sed tempora placeat hic quae, quaerat non
            soluta unde iure, laudantium aut eum necessitatibus nobis aperiam sit aliquam odit! Molestiae quidem aut
            soluta vel consequatur obcaecati exercitationem repellat, incidunt est iste totam modi omnis minus
            voluptatum voluptate odit accusamus rem fugit laborum mollitia perferendis! Facere perferendis modi hic sit
            aut aliquid?</p>
    </div>
    <div class="col-md-6">
        <img src="{% static 'images/brian.JPG' %}" alt="An image of kayongo Johnson brian " class="img-fluid "
            srcset="">
    </div>

</div>
<div class="row">
    <div class="col-md-5">
        <img src="{% static 'images/brian.JPG' %}" class="img-fluid" alt="" srcset="">
    </div>
    <div class="col-md-7">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum aperiam nam quaerat ad, possimus laboriosam
            sequi modi sint cumque quis iste repellendus corrupti repudiandae numquam, necessitatibus ut maxime
            blanditiis optio.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur ducimus enim ea, nesciunt illum magnam
            doloribus quibusdam esse nulla dolore illo quis, quas facere exercitationem maxime expedita vitae iste,
            soluta quo quos praesentium nobis eius minima mollitia. Nostrum saepe magni ex necessitatibus, dolor
            accusamus reprehenderit dicta blanditiis accusantium incidunt?
        </p>
    </div>
</div>

{% endblock body_block %}