<!DOCTYPE html>
{% extends "account/base.html" %}
{% load static %}


{% block body_block %}
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <p id='li'><a href="{% url 'account:user' %}">Go home </a></p>
                    <p id="acount">Account Settings </p>
                </div>
                <div class="card-text">
                    <img id='pro_pic' src="{{request.user.cust.profile_pic.url}}" class="img-fluid" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" id="sub" class="btn" value="Update Info ">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body_block %}